body{
  margin:0;
  padding:0;
  font-size:16px;
  /* Base font size */
  font-family: Helvetica, sans-serif;
  background-color: white;
  line-height: 1.1em;
  color: black;
}

.mainNav {
  background: #efefef;
  color: #1a1b18;
  height: 70px;
  position: relative;
}
.mainNav a {
  text-decoration: none;
}
.mainNav .logo {

	float:left;
}

.mainNav .logo a {
  color: #efefef;
  padding:0;
margin:0 auto;
}
.logo img{
	width:60px;
}
.mainNav .menu {
  background: #efefef;
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid #efefef;
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  /*POSITION*/
  z-index:1;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
}
.mainNav .menu a {
  color: #292938;
  border-bottom: 1px solid #efefef;
  font-weight: bold;
  display: block;
  padding: 15px;
}
.mainNav .menu a:hover {
/*   background: #292938; */
  color: #292938;
}
.mainNav .navBars {
  display: inline-block;
  font-size: 1.7em;
  line-height: 1.5em;
  float: right;
  /*USER SELECTION*/
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

#xBxHack {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -99999px;
}
#xBxHack:checked ~ nav .menu {
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 10px;
  height: 50px;
}

.fa-shopping-bag{
	padding: 0px 10px;
	margin:0;
	display:inline;
}
.float-right{
	float:right;
}
.map{
  width:600px;
  height:450px;
  margin:auto;
}
@media only screen and (min-width:600px){
  .map{
    display:inline-block;
    width:48%;
    height:60vh;
    margin-left:0;
    margin-right:0;
    vertical-align:top;

  }
  .group{
    display:inline-block;
    width:48%;
    vertical-align: top;
  }
}
nav{
  background: pink;
  text-align: center;
  font-family: helvetica, sans-serif;
}

nav a{
  padding: 10px 20px;
  color: black;
/*   margin-left: 20px; */
  display: inline-block;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
   color: grey;
}

img{
  width: 100%;
  /* I can use max-width:100% also */
}

footer{
   margin-left: auto;
   margin-right: auto;
   display: block;
   width: 100%;
   height: 60px;
   background-color: pink;
   text-align: center;
   padding-top:20px;
   padding-bottom:20px;
}

a{
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
  color:#AA336A!important;
}

a:visited{
  color:pink;
}

.pink:hover{
  color:white;
}

.pink{
  color:pink;
}
.wrapper{
  width:100%;
  margin:auto;
  padding:10px;
  background-color: pink;
  text-align: center;
}

.header{
  width: 200px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.hero{
  width:100%;
  background: url("britaylor.jpg");
  height:400px;
  background-position:center;
  background-size:cover;
  text-align:center;
  position:relative;
  /* remove height when I have an image */
  /* I can use max-width:100% also */
}

.hero h1{
  text-align:center;
  color:pink;
   margin: 0;
    top: 80px;
    position: relative;
}
.abouthero{
  width:100%;
  background: url("makeup4.jpg");
  height:400px;
  background-position:center;
  background-size:cover;
  text-align:center;
  position:relative;
  /* remove height when I have an image */
  /* I can use max-width:100% also */
}
.shophero{
  width:100%;
  background: url("makeup5.jpg");
  height:400px;
  background-position:center;
  background-size:cover;
  text-align:center;
  position:relative;
  /* remove height when I have an image */
  /* I can use max-width:100% also */
}

.bestsellers h1{
  text-align:center;
  color:pink;
  font-size:35px;
}

.flex-container {
width: 80%;
display: flex;
justify-content: space-evenly;
align-items: center;
/* background-color: white; */
/* padding-top:70px; */
padding-left: 50px;
padding-right: 50px;
/* padding-top:50px; */
margin-left: auto;
margin-right: auto;
flex-wrap: wrap;
}

.flex-container div {
text-align: center;
line-height: 20px;
flex-basis: 200px;
}

.flex-footer {
width: 80%;
display: flex;
justify-content: space-evenly;
align-items: center;
/* background-color: white; */
/* padding-top:70px; */
margin-left: auto;
margin-right: auto;
flex-wrap: wrap;
}

.flex-footer div {
text-align: center;
line-height: 20px;
flex-basis: 200px;
}

.new {
text-align: center;
line-height: 20px;
flex-basis: 150px;
}
/* START CONTACT PAGE STYLES */
.contact-form{

}
.contact-form input{
  height: 25px;
  padding-left:8px;
}

.contact-form textarea{
  height: 100px;
  max-width:100%;
}

.contact-form input, .contact-form textarea{
  display: block;
  width: 100%;
  margin-top:10px;
  margin-bottom:10px;
  border: 1px grey solid;
  border-radius: 3px;
  font-size: 1.1em;
}

.contact-form input[type="submit"]{
  background-color: pink;
  border:none;
  width:150px;
  padding-top:3px;
  padding-bottom:5px;
  margin-left:auto;
  height: 30px;
}

/* END CONTACT PAGE STYLES */

.top{
  text-align: center;
  align-items: center;
}

.clearfix {
    clear: both;
    /*display: table; */
  }
  .clearfix::after{
    clear: both;
    display: table;
    content: "";
  }

.float{
  padding:5px;
  width:90%;
  margin:auto;
}
/* Desktop styles below */
@media only screen and (min-width:700px) {
  .float{
      float:left;
      width:43%;
      padding:2%;
      margin-right:2%;
  }

  .hero{
    height: 700px;
  }

  .mainNav {
    overflow: hidden;
  }
  .mainNav .navBars {
    display: none;
  }
  .mainNav .container {
    padding-top: 0;
    padding-bottom: 0;
		max-width:100%;
/* 	Add max-width:100 to counter act the styles above media query so the links are all the way to the left */
  }
  .mainNav .logo {
	  float:none;
		display:inline;
		width:165px;
    margin: 10px auto;
/*  Add display block and a width and auto to margin for centering the logo		 */
  }
  .mainNav .menu {
    display: block;
    box-shadow: none;
    border: none;
    float: left;
    /*POSITION*/
    position: static;
  }
  .mainNav .menu li {
    display: inline-block;
  }
  .mainNav .menu a {
    border: none;
    padding: 20px 10px;
  }
.fa-shopping-bag{
	padding: 10px 10px;
	}
}
